{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <!-- Site Properities -->
  <title> {% block title %}{% endblock %} | 状态系统</title>
  <link rel="stylesheet" type="text/css" href="{% static "/bubustatus/css/semantic.css" %}" />
</head>

<body>
    <h1 class="ui center aligned header"><a href="/">o (◡‿◡✿)</a></h1>
    <div class="ui top inverted fixed hidden menu">
      <a class="item"><h3 class="ui green header">状态系统</h3></a>
      <a class="item" href="{% url "home" %}"><b>Home</b></a>
      <a class="item" href="{% url "timeline" %}"><b>Timeline</b></a>
      <a class="item" href="{% url "labels" %}"><b>Labels</b></a>
      <div class="right menu">
          <a class="item" href="{% url "admin:index" %}">Admin</a>
        <a class="item">Help</a>
      </div>
    </div>
    {% block content %}{% endblock %}
  </div>

</body>

<style>#forkongithub a{background:#009966;color:#00CCFF;text-decoration:none;font-family:arial,sans-serif;text-align:center;font-weight:bold;padding:5px 40px;font-size:1rem;line-height:2rem;position:relative;transition:0.5s;}#forkongithub a:hover{background:#009999;color:#fff;}#forkongithub a::before,#forkongithub a::after{content:"";width:100%;display:block;position:absolute;top:1px;left:0;height:1px;background:#fff;}#forkongithub a::after{bottom:1px;top:auto;}@media screen and (min-width:800px){#forkongithub{position:absolute;display:block;top:0;right:0;width:200px;overflow:hidden;height:200px;z-index:9999;}#forkongithub a{width:200px;position:absolute;top:15px;right:-50px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);box-shadow:4px 4px 10px rgba(0,0,0,0.8);}}</style><span id="forkongithub"><a href="https://github.com/jackeyGao/bubustatus">Fork me</a></span>
</html>

